@page "/vanilla/todo-list/{todoListId:long}"
@using System.ComponentModel.DataAnnotations
@using WolverineHoP.Web.Api.Vanilla
@rendermode InteractiveServer
@attribute [StreamRendering(true)]

@inject VanillaApiClient Api

<PageTitle>Todo list (vanilla): </PageTitle>

<h1>@(_todoList?.Title ?? "Loading...")</h1>

@if (_todoList is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Item</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in _todoList.Items)
        {
            <tr>
                <td>
                    <div class="text-center">
                        <input class="form-check-input"
                               type="checkbox"
                               id="item_checked_@item.Id"
                               checked="@item.Checked"
                               @onchange="() => ToggleItem(item)">
                        <label class="form-check-label visually-hidden" for="item_checked_@item.Id">Check item</label>
                    </div>
                </td>
                    <td class="@(item.Checked ? "text-decoration-line-through" : "")">
                    @item.Description
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td>
                    <EditForm FormName="CreateTodoListsForm" Model="Model" OnValidSubmit="CreateNewItem" class="row">
                    <div class="form-group">
                            <DataAnnotationsValidator/>
                            <CustomValidation @ref="customValidation"/>
                            <ValidationSummary/>
                    </div>
                    <div class="col-auto">
                        <label @bind="Model!.Description" class="visually-hidden">Description</label>
                        <InputText @bind-Value="Model!.Description" class="form-control" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Add item</button>
                    </div>
                </EditForm>
            </td>
        </tr>
        </tfoot>
    </table>
}

@code {
    private CustomValidation? customValidation;

    [Parameter]
    public long TodoListId { get; set; }

    private TodoListDetail? _todoList;

    [SupplyParameterFromForm]
    public NewListItemModel? Model { get; set; }
    protected override void OnInitialized() => Model ??= new();

    protected override async Task OnInitializedAsync()
    {
        _todoList = await Api.GetTodoList(TodoListId);
    }

    private async Task ToggleItem(TodoListItem item)
    {
        if (item.Checked)
        {
            var response = await Api.UncheckItem(TodoListId, item.Id);
            if (response.IsT0)
            {
                item.Checked = false;
            }
        }
        else
        {
            var response = await Api.CheckItem(TodoListId, item.Id);
            if (response.IsT0)
            {
                item.Checked = true;
            }
        }
    }

    private async Task CreateNewItem()
    {
        customValidation?.ClearErrors();

        var response = await Api.CreateTodoListItem(TodoListId, Model!.Description!);
        if (response.TryPickT0(out var todoListItemId, out var errors))
        {
            _todoList?.Items.Add(new TodoListItem
            {
                Id = todoListItemId,
                Checked = false,
                Description = Model!.Description!,
                SequenceId = _todoList!.Items.Count + 1
            });

            Model = new NewListItemModel();
        }
        else
        {
            customValidation?.DisplayErrors(errors);
        }
    }

    public class NewListItemModel
    {
        [Required(AllowEmptyStrings = false)]
        public string? Description { get; set; }
    }
}
